<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#认识Series和DataFrame对象" data-toc-modified-id="认识Series和DataFrame对象-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>认识Series和DataFrame对象</a></span><ul class="toc-item"><li><span><a href="#Series" data-toc-modified-id="Series-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Series</a></span></li><li><span><a href="#创建" data-toc-modified-id="创建-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>创建</a></span><ul class="toc-item"><li><span><a href="#无索引创建" data-toc-modified-id="无索引创建-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>无索引创建</a></span></li><li><span><a href="#有索引创建" data-toc-modified-id="有索引创建-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>有索引创建</a></span></li></ul></li></ul></li><li><span><a href="#DataFrame" data-toc-modified-id="DataFrame-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>DataFrame</a></span></li><li><span><a href="#创建" data-toc-modified-id="创建-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>创建</a></span><ul class="toc-item"><li><span><a href="#data无-行索引，无-列索引" data-toc-modified-id="data无-行索引，无-列索引-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>data无 行索引，无 列索引</a></span></li><li><span><a href="#data无-行索引，有-列索引" data-toc-modified-id="data无-行索引，有-列索引-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>data无 行索引，有 列索引</a></span></li><li><span><a href="#data有-行索引，有-列索引" data-toc-modified-id="data有-行索引，有-列索引-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>data有 行索引，有 列索引</a></span></li></ul></li><li><span><a href="#由文件创建" data-toc-modified-id="由文件创建-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>由文件创建</a></span><ul class="toc-item"><li><span><a href="#由.csv文件创建" data-toc-modified-id="由.csv文件创建-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>由.csv文件创建</a></span></li><li><span><a href="#由.excel文件创建" data-toc-modified-id="由.excel文件创建-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>由.excel文件创建</a></span></li></ul></li></ul></div>

## 认识Series和DataFrame对象
pandas中的核心对象是Series和DataFrame，这一节主要介绍如何创建这两种对象。

In [1]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame

###  Series
Series是pandas中暴露给我们使用的基本对象，它是由相同元素类型构成的一维数据结构，同时具有列表和字典的特点

In [2]:
# 预览
data = [1, 2, 3, 4, 5]
index = ['a', 'b', 'c', 'd', 'e']
s = Series(data, index=index)
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [3]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [4]:
s.name

In [5]:
s.values

array([1, 2, 3, 4, 5], dtype=int64)

In [6]:
s.dtype

dtype('int64')

In [7]:
s.shape

(5,)

### 创建
Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
####  无索引创建
- 如果 data 为 ndarray(1D) 或 list(1D)，那么其缺少 Series 需要的索引信息
- 如果提供 index，则必须和data长度相同
- 如果不提供 index，那么其将生成默认数值索引 range(0, data.shape[0])

In [8]:
data1 = np.array([1,2,3])
index1 = ['a','b','c']
s = pd.Series(data = data1, index = index1)
s

a    1
b    2
c    3
dtype: int32

#### 有索引创建
- 如果 data 为 Series 或 dict ，那么其已经提供了 Series 需要的索引信息，所以 index 项是不需要提供的
- 如果额外提供了 index 项，那么其将对当前构建的Series进行覆盖

In [9]:
# data = [1,2,3]
# data = pd.Series([a,b,c], index = ['a','b','c'] )
data2 = { 'a':1, 'b':2,'c':3 }
index2 = ['a','b','d']
s = pd.Series(data=data2)
s

a    1
b    2
c    3
dtype: int64

## DataFrame
DataFrame由具有共同索引的Series按列排列构成（2D），是使用最多的对象，可以将其想象成一个Excel表来处理

In [10]:
###  预览
data = [[1,2,3],
        [4,5,6]]
index = ['a','b']
columns = ['A','B','C']
df = pd.DataFrame(data=data, index=index, columns=columns)
df

   A  B  C
a  1  2  3
b  4  5  6

In [11]:
df.index

Index(['a', 'b'], dtype='object')

In [12]:
df.values

array([[1, 2, 3],
       [4, 5, 6]], dtype=int64)

In [13]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [14]:
df.shape

(2, 3)

## 创建

**DataFrame(data=None, index=None, columns=None)**

函数由多个参数，对我们有用的主要是：data,index和columns三项

### data无 行索引，无 列索引

In [15]:
data1 = np.array([[1,2,3],
                [4,5,6]] )
index1 = ['a','b']
columns1 = ['A','B','C']
df = pd.DataFrame(data1, index=index1, columns=columns1)
df

   A  B  C
a  1  2  3
b  4  5  6

### data无 行索引，有 列索引

In [16]:
data2 = {'A' : [1,4], 'B': [2,5], 'C':[3,6]}
index2 = ['a','b']
columns2 = ['A','B','D']
df = pd.DataFrame(data2)
df

   A  B  C
0  1  2  3
1  4  5  6

### data有 行索引，有 列索引

In [18]:
# data3 = { 'A' : pd.Series([1,4] ,index = ['a','b']), 'B' : pd.Series([2,5] ,index = ['a','b']), 'C' : pd.Series([3,6] ,index = ['a','c']) }
data3 = { 'A' : { 'a':1, 'b':4}, 'B': {'a':2,'b':5}, 'C':{'a':3, 'c':6} }
df = pd.DataFrame(data3)
df

     A    B    C
a  1.0  2.0  3.0
b  4.0  5.0  NaN
c  NaN  NaN  6.0

## 由文件创建

### 由.csv文件创建

pd.read_csv(filepath_or_buffer, sep=',', header='infer', names=None, index_col=None, encoding=None )

read_csv的参数很多，但这几个参数就够我们使用了：

- filepath_or_buffer：路径和文件名不要带中文，带中文容易报错
- sep: csv文件数据的分隔符，默认是','，根据实际情况修改
- header：如果有列名，那么这一项不用改
- names：如果没有列名，那么必须设置header = None， names为列名的列表，不设置默认生成数值索引
- index_col：int型，选取这一列作为索引
- encoding：根据你的文档编码来确定，如果有中文读取报错，试试encoding = 'gbk'

In [25]:
csv_df = pd.read_csv( 'test.csv')
csv_df.head()

  c1  c2  c3  c4
0  a   0   5  10
1  b   1   6  11
2  c   2   7  12
3  d   3   8  13
4  e   4   9  14

In [26]:
csv_df.index

RangeIndex(start=0, stop=5, step=1)

In [27]:
csv_df.columns

Index(['c1', 'c2', 'c3', 'c4'], dtype='object')

In [28]:
csv_df.values

array([['a', 0, 5, 10],
       ['b', 1, 6, 11],
       ['c', 2, 7, 12],
       ['d', 3, 8, 13],
       ['e', 4, 9, 14]], dtype=object)

### 由.excel文件创建

pd.read_excel(io, sheetname=0, header=0, index_col=None, names=None)

read_excel的参数很多，但这几个参数就够我们使用了：

- header：如果有列名，那么这一项不用改；
- names：如果没有列名，那么必须设置header = None， names为列名的列表，不设置默认生成数值索引；
- index_col：int型，选取这一列作为索引。

In [19]:
excel_df = pd.read_excel('test.xlsx')
excel_df.head()

   月份      工号   姓名    工资   部门
0  1月  NED015   黄丰  4200  行政部
1  1月  NED001   黄慧  3150  生产部
2  1月  NED002  纪海梅  4500  生产部
3  1月  NED010   李杰  5100  IT部
4  1月  NED003   李军  4200  生产部