<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#普通列和行index的相互转化" data-toc-modified-id="普通列和行index的相互转化-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>普通列和行index的相互转化</a></span><ul class="toc-item"><li><span><a href="#普通列-转化为-行索引" data-toc-modified-id="普通列-转化为-行索引-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>普通列 转化为 行索引</a></span></li><li><span><a href="#DataFrame中的列" data-toc-modified-id="DataFrame中的列-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>DataFrame中的列</a></span></li><li><span><a href="#任意列" data-toc-modified-id="任意列-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>任意列</a></span></li></ul></li><li><span><a href="#行索引-转化为-普通列" data-toc-modified-id="行索引-转化为-普通列-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>行索引 转化为 普通列</a></span><ul class="toc-item"><li><span><a href="#单层-列索引-情况" data-toc-modified-id="单层-列索引-情况-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>单层 列索引 情况</a></span></li><li><span><a href="#多层-列索引-情况" data-toc-modified-id="多层-列索引-情况-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>多层 列索引 情况</a></span></li></ul></li></ul></div>

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 普通列和行index的相互转化

In [3]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame

In [4]:
data = [[1,2,3],[4,5,6]]
index = ['a','b']
columns = ['A','B','C']
df = pd.DataFrame(data, index = index, columns = columns)
df

   A  B  C
a  1  2  3
b  4  5  6

### 普通列 转化为 行索引

DataFrame.set_index(keys, drop=True, append=False, inplace=False)

- keys：用于转化的列名称，列名或列名的列表，如果是列表则转化为多重索引；
- drop：True or False，是否保留原列；
- append：True or False，是否保留当前索引；
- inplace：True or False，是否原地修改。

### DataFrame中的列
注意：下面的这种用法只能处理单层列索引情况。

In [5]:
df.set_index('A', drop = True, append = False) #单列转化为行索引，列名作为索引的名字

   B  C
A
1  2  3
4  5  6

In [6]:
df.set_index('B', drop = True, append = False) #单列转化为行索引，列名作为索引的名字

   A  C
B
2  1  3
5  4  6

In [7]:
df.set_index('C', drop = True, append = False) #单列转化为行索引，列名作为索引的名字

   A  B
C
3  1  2
6  4  5

In [8]:
df.set_index(['A','B'], drop = True, append = True) # 列名的列表

       C
  A B
a 1 2  3
b 4 5  6

In [9]:
df.set_index(['A','C'], drop = True, append = False) # 列名的列表

     B
A C
1 3  2
4 6  5

In [10]:
df.set_index(['B','C'], drop = True, append = False) # 列名的列表

     A
B C
2 3  1
5 6  4

In [11]:
df.set_index(['A','C'], drop = False, append = False) # drop = False, 保留原列

     A  B  C
A C
1 3  1  2  3
4 6  4  5  6

In [12]:
df
df.set_index(['B','C'], drop = False, append = True) # append = True, 保留原索引

   A  B  C
a  1  2  3
b  4  5  6

       A  B  C
  B C
a 2 3  1  2  3
b 5 6  4  5  6

### 任意列

普通列不是必须为DataFrame中的列，任何行数匹配的列表或列表的元组都可以；

此方法可以处理多层列索引情况，方法是先提取需要的列，构建成元组，再来替换索引。

In [13]:
li = ['c','d']
df
df.set_index(keys = [li], append = False)# 注意是[li]不是li，如果是单层，会当做列名处理
## append为False，实现了改索引功能

   A  B  C
a  1  2  3
b  4  5  6

   A  B  C
c  1  2  3
d  4  5  6

In [14]:
#如果是多层索引情况，append为False，所有索性会被替换
df1 = df.set_index(keys = [li], append = True)
df1

     A  B  C
a c  1  2  3
b d  4  5  6

In [15]:
df1.set_index(keys = [['e','f']],append = False)

   A  B  C
e  1  2  3
f  4  5  6

In [16]:
# 元祖的列表建立多层索引
list_tuple = [('e','f'),('g','h')]
df1.set_index(keys = [list_tuple],append = False)

     A  B  C
e f  1  2  3
g h  4  5  6

## 行索引 转化为 普通列

DataFrame.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')

- level：int 或者行索引的名字，可以为列表，默认包含所有行索引。
- drop：True or False，是否将行索引插入到列中，默认是插入；
- inplace：是否本地修改；
- col_level：如果列索引也是多重的，那么新插入的列设置哪一重索引；
- col_fill：如果有多重索引，除了col_level已经设置的

### 单层 列索引 情况

In [17]:
df1 = df.set_index(['A','B','C'], drop = True, append = True)
df1

Empty DataFrame
Columns: []
Index: [(a, 1, 2, 3), (b, 4, 5, 6)]

In [18]:
# df1.reset_index(level = 'A', drop = False)
df1.reset_index(level = 1, drop = False) #单 行索引

       A
  B C
a 2 3  1
b 5 6  4

In [19]:
df1
df1.reset_index(level = [1,2], drop = True) # 行索引的列表

Empty DataFrame
Columns: []
Index: [(a, 1, 2, 3), (b, 4, 5, 6)]

Empty DataFrame
Columns: []
Index: [(a, 3), (b, 6)]

In [20]:
#如果所有行索引都恢复为列，那么将生成默认数值索引，如果行索引没有名字，那么生成默认的名字
df1.reset_index(level = [0,1,2], drop = False)

  level_0  A  B
C
3       a  1  2
6       b  4  5

In [21]:
df1.index.set_names(names = '0', level = 0, inplace = True)
df1

Empty DataFrame
Columns: []
Index: [(a, 1, 2, 3), (b, 4, 5, 6)]

In [22]:
#行索引如果有名字，那么将其设置为列名
df1.reset_index(level = [0,1,2], drop = False)

   0  A  B
C
3  a  1  2
6  b  4  5

### 多层 列索引 情况

In [24]:
df1 = df.copy()
df1

   A  B  C
a  1  2  3
b  4  5  6

In [25]:
#多重索引下，如果行索引没有名字，那么变为列之后在列索引的外层生成了默认索引：index。
df1.reset_index(level = 0)

  index  A  B  C
0     a  1  2  3
1     b  4  5  6

In [179]:
df1.reset_index(level = 0)

  index  A  B  C
0     a  1  2  3
1     b  4  5  6