<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#一、数据结构介绍" data-toc-modified-id="一、数据结构介绍-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>一、数据结构介绍</a></span></li><li><span><a href="#二、数据索引index" data-toc-modified-id="二、数据索引index-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>二、数据索引index</a></span></li><li><span><a href="#三、利用pandas查询数据" data-toc-modified-id="三、利用pandas查询数据-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>三、利用pandas查询数据</a></span></li><li><span><a href="#四、统计分析" data-toc-modified-id="四、统计分析-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>四、统计分析</a></span></li></ul></div>

In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 一、数据结构介绍
在pandas中有两类非常重要的数据结构，即序列Series和数据框DataFrame。Series类似于numpy中的一维数组，除了通吃一维数组可用的函数或方法，而且其可通过索引标签的方式获取数据，还具有索引的自动对齐功能；DataFrame类似于numpy中的二维数组，同样可以通用numpy数组的函数和方法，而且还具有其他灵活应用，后续会介绍到。

In [ ]:
1、Series的创建
序列的创建主要有三种方式：

1）通过一维数组创建序列

In [5]:
import numpy as np, pandas as pd
arr1 = np.arange(10)
arr1
type(arr1)
s1 = pd.Series(arr1)
s1
type(s1)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

numpy.ndarray

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

pandas.core.series.Series

In [ ]:
2）通过字典的方式创建序列

In [6]:
dic1 = {'a':10,'b':20,'c':30,'d':40,'e':50}
dic1
type(dic1)
s2 = pd.Series(dic1)
s2
type(s2)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

dict

a    10
b    20
c    30
d    40
e    50
dtype: int64

pandas.core.series.Series

In [ ]:
3）通过DataFrame中的某一行或某一列创建序列
这部分内容我们放在后面讲，因为下面就开始将DataFrame的创建。

In [ ]:
2、DataFrame的创建
数据框的创建主要有三种方式：

1）通过二维数组创建数据框

In [7]:
arr2 = np.array(np.arange(12)).reshape(4,3)
arr2
type(arr2)
df1 = pd.DataFrame(arr2)
df1
type(df1)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

numpy.ndarray

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

pandas.core.frame.DataFrame

In [ ]:
2）通过字典的方式创建数据框
以下以两种字典来创建数据框，一个是字典列表，一个是嵌套字典。

In [8]:
dic2 = {'a':[1,2,3,4],'b':[5,6,7,8],
'c':[9,10,11,12],'d':[13,14,15,16]}
dic2
type(dic2)
df2 = pd.DataFrame(dic2)
df2
type(df2)
dic3 = {'one':{'a':1,'b':2,'c':3,'d':4},
'two':{'a':5,'b':6,'c':7,'d':8},
'three':{'a':9,'b':10,'c':11,'d':12}}
dic3
type(dic3)
df3 = pd.DataFrame(dic3)
df3
type(df3)

{'a': [1, 2, 3, 4],
 'b': [5, 6, 7, 8],
 'c': [9, 10, 11, 12],
 'd': [13, 14, 15, 16]}

dict

   a  b   c   d
0  1  5   9  13
1  2  6  10  14
2  3  7  11  15
3  4  8  12  16

pandas.core.frame.DataFrame

{'one': {'a': 1, 'b': 2, 'c': 3, 'd': 4},
 'two': {'a': 5, 'b': 6, 'c': 7, 'd': 8},
 'three': {'a': 9, 'b': 10, 'c': 11, 'd': 12}}

dict

   one  two  three
a    1    5      9
b    2    6     10
c    3    7     11
d    4    8     12

pandas.core.frame.DataFrame

In [ ]:
3）通过数据框的方式创建数据框

In [9]:
df4 = df3[['one','three']]
df4
type(df4)
s3 = df3['one']
s3
type(s3)

   one  three
a    1      9
b    2     10
c    3     11
d    4     12

pandas.core.frame.DataFrame

a    1
b    2
c    3
d    4
Name: one, dtype: int64

pandas.core.series.Series

## 二、数据索引index
细致的朋友可能会发现一个现象，不论是序列也好，还是数据框也好，对象的最左边总有一个非原始数据对象，这个是什么呢？不错，就是我们接下来要介绍的索引。
在我看来，序列或数据框的索引有两大用处，一个是通过索引值或索引标签获取目标数据，另一个是通过索引，可以使序列或数据框的计算、操作实现自动化对齐，下面我们就来看看这两个功能的应用。

In [ ]:
1、通过索引值或索引标签获取数据

In [10]:
s4 = pd.Series(np.array([1,1,2,3,5,8]))
s4

0    1
1    1
2    2
3    3
4    5
5    8
dtype: int32

In [ ]:
如果不给序列一个指定的索引值，则序列自动生成一个从0开始的自增索引。可以通过index查看序列的索引：

In [ ]:
s4.index

In [ ]:
现在我们为序列设定一个自定义的索引值：

In [11]:
s4.index = ['a','b','c','d','e','f']
s4

a    1
b    1
c    2
d    3
e    5
f    8
dtype: int32

In [ ]:
序列有了索引，就可以通过索引值或索引标签进行数据的获取：

In [12]:
s4[3]
s4['e']
s4[[1,3,5]]
s4[['a','b','d','f']]
s4[:4]
s4['c':]
s4['b':'e']

3

5

b    1
d    3
f    8
dtype: int32

a    1
b    1
d    3
f    8
dtype: int32

a    1
b    1
c    2
d    3
dtype: int32

c    2
d    3
e    5
f    8
dtype: int32

b    1
c    2
d    3
e    5
dtype: int32

In [ ]:
千万注意：如果通过索引标签获取数据的话，末端标签所对应的值是可以返回的！在一维数组中，就无法通过索引标签获取数据，这也是序列不同于一维数组的一个方面。

In [ ]:
2、自动化对齐
如果有两个序列，需要对这两个序列进行算术运算，这时索引的存在就体现的它的价值了—自动化对齐.

In [13]:
s5 = pd.Series(np.array([10,15,20,30,55,80]),
index = ['a','b','c','d','e','f'])
s5
s6 = pd.Series(np.array([12,11,13,15,14,16]),
index = ['a','c','g','b','d','f'])
s6
s5 + s6
s5/s6

a    10
b    15
c    20
d    30
e    55
f    80
dtype: int32

a    12
c    11
g    13
b    15
d    14
f    16
dtype: int32

a    22.0
b    30.0
c    31.0
d    44.0
e     NaN
f    96.0
g     NaN
dtype: float64

a    0.833333
b    1.000000
c    1.818182
d    2.142857
e         NaN
f    5.000000
g         NaN
dtype: float64

In [ ]:
由于s5中没有对应的g索引，s6中没有对应的e索引，所以数据的运算会产生两个缺失值NaN。注意，这里的算术结果就实现了两个序列索引的自动对齐，而非简单的将两个序列加总或相除。对于数据框的对齐，不仅仅是行索引的自动对齐，同时也会自动对齐列索引（变量名）

数据框中同样有索引，而且数据框是二维数组的推广，所以其不仅有行索引，而且还存在列索引，关于数据框中的索引相比于序列的应用要强大的多，这部分内容将放在数据查询中讲解。

## 三、利用pandas查询数据

这里的查询数据相当于R语言里的subset功能，可以通过布尔索引有针对的选取原数据的子集、指定行、指定列等。我们先导入一个student数据集：

In [16]:
student = pd.io.parsers.read_csv('test.csv')

  c1  c2  c3  c4
0  a   0   5  10
1  b   1   6  11
2  c   2   7  12
3  d   3   8  13
4  e   4   9  14

In [ ]:
查询数据的前5行或末尾5行

In [17]:
student.head()
student.tail()

  c1  c2  c3  c4
0  a   0   5  10
1  b   1   6  11
2  c   2   7  12
3  d   3   8  13
4  e   4   9  14

  c1  c2  c3  c4
0  a   0   5  10
1  b   1   6  11
2  c   2   7  12
3  d   3   8  13
4  e   4   9  14

In [ ]:
查询指定的行

In [23]:
student.ix[[0,2,4]] #这里的ix索引标签函数必须是中括号[]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

  c1  c2  c3  c4
0  a   0   5  10
2  c   2   7  12
4  e   4   9  14

In [ ]:
查询指定的列

In [25]:
student[['c1','c2','c3']].head() #如果多个列的话，必须使用双重中括号

  c1  c2  c3
0  a   0   5
1  b   1   6
2  c   2   7
3  d   3   8
4  e   4   9

In [ ]:
也可以通过ix索引标签查询指定的列

In [27]:
student.ix[:,['c1','c2','c3']].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

  c1  c2  c3
0  a   0   5
1  b   1   6
2  c   2   7
3  d   3   8
4  e   4   9

In [ ]:
查询指定的行和列

In [28]:
student.ix[[0,2,4],['c1','c2','c3']].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

  c1  c2  c3
0  a   0   5
2  c   2   7
4  e   4   9

## 四、统计分析

pandas模块为我们提供了非常多的描述性统计分析的指标函数，如总和、均值、最小值、最大值等，我们来具体看看这些函数：
首先随机生成三组数据

In [29]:
np.random.seed(1234)
d1 = pd.Series(2*np.random.normal(size = 100)+3)
d2 = np.random.f(2,4,size = 100)
d3 = np.random.randint(1,100,size = 100)
d1.count() #非空元素计算
d1.min() #最小值
d1.max() #最大值
d1.idxmin() #最小值的位置，类似于R中的which.min函数
d1.idxmax() #最大值的位置，类似于R中的which.max函数
d1.quantile(0.1) #10%分位数
d1.sum() #求和
d1.mean() #均值
d1.median() #中位数
d1.mode() #众数
d1.var() #方差
d1.std() #标准差
d1.mad() #平均绝对偏差
d1.skew() #偏度
d1.kurt() #峰度
d1.describe() #一次性输出多个描述性统计指标

100

-4.1270333212494705

7.781921030926066

81

39

0.6870184644069928

307.0224566250873

3.070224566250874

3.204555266776845

0    -4.127033
1    -1.800907
2    -1.485370
3    -1.149955
4    -1.042510
5    -0.634054
6    -0.093811
7     0.108380
8     0.196053
9     0.618049
10    0.694682
11    0.714737
12    0.862022
13    0.944299
14    1.051527
15    1.147491
16    1.205686
17    1.429130
18    1.558823
19    1.688061
20    1.726953
21    1.830564
22    1.867108
23    1.903515
24    1.976237
25    2.061389
26    2.139809
27    2.200071
28    2.204320
29    2.310468
        ...
70    4.131477
71    4.263959
72    4.351108
73    4.408456
74    4.409441
75    4.510828
76    4.534737
77    4.633188
78    4.682018
79    4.683349
80    4.719177
81    4.727435
82    4.774326
83    4.906648
84    4.969840
85    4.983892
86    5.067601
87    5.091877
88    5.095157
89    5.117938
90    5.300071
91    5.636303
92    5.642211
93    5.642316
94    5.783972
95    5.865414
96    6.091318
97    7.015686
98    7.061207
99    7.781921
Length: 100, dtype: float64

4.005609378535085

2.0014018533355777

1.5112880411556109

-0.6494780760484293

1.2201094052398012

count    100.000000
mean       3.070225
std        2.001402
min       -4.127033
25%        2.040101
50%        3.204555
75%        4.434788
max        7.781921
dtype: float64

In [ ]:
必须注意的是，descirbe方法只能针对序列或数据框，一维数组是没有这个方法的

In [ ]:
这里自定义一个函数，将这些统计描述指标全部汇总到一起:

In [31]:
def stats(x):
    return pd.Series([x.count(),x.min(),x.idxmin(),
    x.quantile(.25),x.median(),
    x.quantile(.75),x.mean(),
    x.max(),x.idxmax(),
    x.mad(),x.var(),
    x.std(),x.skew(),x.kurt()],
    index = ['Count','Min','Whicn_Min',
    'Q1','Median','Q3','Mean',
    'Max','Which_Max','Mad',
    'Var','Std','Skew','Kurt'])
stats(d1)

Count        100.000000
Min           -4.127033
Whicn_Min     81.000000
Q1             2.040101
Median         3.204555
Q3             4.434788
Mean           3.070225
Max            7.781921
Which_Max     39.000000
Mad            1.511288
Var            4.005609
Std            2.001402
Skew          -0.649478
Kurt           1.220109
dtype: float64

In [ ]:
在实际的工作中，我们可能需要处理的是一系列的数值型数据框，如何将这个函数应用到数据框中的每一列呢？可以使用apply函数，这个非常类似于R中的apply的应用方法。
将之前创建的d1,d2,d3数据构建数据框:

In [32]:
df = pd.DataFrame(np.array([d1,d2,d3]).T,columns=['x1','x2','x3'])
df.head()
df.apply(stats)

         x1        x2    x3
0  3.942870  1.369531  55.0
1  0.618049  0.943264  68.0
2  5.865414  0.590663  73.0
3  2.374696  0.206548  59.0
4  1.558823  0.223204  60.0

                   x1          x2          x3
Count      100.000000  100.000000  100.000000
Min         -4.127033    0.014330    3.000000
Whicn_Min   81.000000   72.000000   76.000000
Q1           2.040101    0.249580   25.000000
Median       3.204555    1.000613   54.500000
Q3           4.434788    2.101581   73.000000
Mean         3.070225    2.028608   51.490000
Max          7.781921   18.791565   98.000000
Which_Max   39.000000   53.000000   96.000000
Mad          1.511288    1.922669   24.010800
Var          4.005609   10.206447  780.090808
Std          2.001402    3.194753   27.930106
Skew        -0.649478    3.326246   -0.118917
Kurt         1.220109   12.636286   -1.211579

In [ ]:
非常完美，就这样很简单的创建了数值型数据的统计性描述。如果是离散型数据呢？就不能用这个统计口径了，我们需要统计离散变量的观测数、唯一值个数、众数水平及个数。你只需要使用describe方法就可以实现这样的统计了。

In [34]:
student['c1'].describe()

count     5
unique    5
top       b
freq      1
Name: c1, dtype: object

In [ ]:
除以上的简单描述性统计之外，还提供了连续变量的相关系数（corr）和协方差矩阵（cov）的求解，这个跟R语言是一致的用法。

In [35]:
df.corr()

          x1        x2        x3
x1  1.000000  0.136085  0.037185
x2  0.136085  1.000000 -0.005688
x3  0.037185 -0.005688  1.000000

In [ ]:
关于相关系数的计算可以调用pearson方法或kendell方法或spearman方法，默认使用pearson方法。

In [36]:
df.corr('spearman')

         x1        x2        x3
x1  1.00000  0.178950  0.006590
x2  0.17895  1.000000 -0.033874
x3  0.00659 -0.033874  1.000000

In [ ]:
如果只想关注某一个变量与其余变量的相关系数的话，可以使用corrwith,如下方只关心x1与其余变量的相关系数:

In [37]:
df.corrwith(df['x1'])

x1    1.000000
x2    0.136085
x3    0.037185
dtype: float64

In [ ]:
数值型变量间的协方差矩阵

In [38]:
df.cov()

          x1         x2          x3
x1  4.005609   0.870124    2.078596
x2  0.870124  10.206447   -0.507512
x3  2.078596  -0.507512  780.090808